/** css/yourtheme.css **/

/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css';

.wy-nav-side {
background: #f7f8fa;
}

body {
    color: #000000;
    min-height: 100%;
    background:#FFFFFF
}

@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap {
        background: transparent
    }

    .wy-nav-content {
        margin: 0;
        background:#fcfcfc
    }
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
color: #090909;
}

.wy-menu-vertical a {
color: #000000;
}

.wy-menu-vertical li.current {
background: #f7f8fa;
}

.wy-nav-content {
    max-width: 1200px !important;
}
